/**
 * Created by sefi on 5/13/14.
 *
 * Free to use and abuse.
 * If you modify jsBlackBelt code, please let me know or submit a pull request for the benefit of others.
 */

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//*************************************
//    AdvancedImg
//*************************************

.thumb {
  width: 200px;
  height: 200px;
}

.advancedImg {
  background-color: black;
  display: block;
  opacity: 1;
  filter: alpha(opacity=100);

  img {
    opacity: 0.8;
    filter: alpha(opacity=80);
    max-width: 100%;

    &:hover {
      opacity: 1;
      filter: alpha(opacity=100);
    }

  }
}

//*************************************
//
//*************************************


